version: '3'

services:
  app:  
    build: .
    container_name: app
    environment:
      DB_HOST: db
      DB_NAME: karkadb
      DB_USER: root
      DB_PASSWORD: Nathan04
    ports:
      - "5000:5000"
    links:
      # network connection with these services
      - db
    depends_on:
      - db
    volumes:
      - .:/app
      - app-data:/data

  db:
    image: mysql:8.0.32
    container_name: sql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Nathan04
      MYSQL_DATABASE: karkadb
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

volumes:
 db-data:
 app-data:
