version: '3'

services:
  db:
    image: mysql:8.0.32
    container_name: first_sql
    environment:
      MYSQL_ROOT_PASSWORD: Nathan04
      MYSQL_DATABASE: karkadb
    ports:
      - "3307:3306"
    volumes:
      - db-data:/var/lib/mysql
  app:  
    build: .
    container_name: first_app
    ports:
      - "5000:5000"
    depends_on:
      - db
    volumes:
      - .:/app
      - app-data:/data

volumes:
 db-data:
 app-data:
  